/* App.css */
.navbar-container {
  padding: 10px;
    background-color: #f8f8f8;
    transition: background-color 0.3s;
}

.navbar-container.dark {
  background-color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: color 0.3s, border-bottom 0.3s;
}

.navbar-container.dark .nav-links li a {
  color: white;
}

.nav-links li a:hover {
  color: #2A9EE9;
}

.navbar-container.dark .nav-links li a:hover {
  color: lightblue;
}

.nav-links li a.active {
  border-bottom: 2px solid #2A9EE9;
}

.navbar-container.dark .nav-links li a.active {
  border-bottom: 2px solid lightblue;
}

.separator {
  height: 20px;
  width: 2px;
  background-color: black;
  margin: 0 10px;
}

.navbar-container.dark .separator {
  background-color: white;
}

.logo img {
  height: 60px; /* Ajustez la hauteur du logo selon vos besoins */
}

.controls {
  display: flex;
  align-items: center;
}

.theme-toggle {
  margin-right: 20px;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger svg,
.theme-toggle svg {
  width: 24px;
  height: 24px;
  color: black;
  transition: color 0.3s;
}

.navbar-container.dark .hamburger svg,
.navbar-container.dark .theme-toggle svg {
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links li {
    margin: 20px 0;
    text-align: center;
  }

  .separator {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .logo {
    order: 1;
  }

  .controls {
    order: 2;
  }

  .nav-links {
    order: 3;
  }
}

/* Mode sombre */
body.dark-mode {
  background-color: #121212;
  color: white;
}
